<?xml version="1.0" ?>

<ros-configuration>
  <master>
  </master>

  <robot>
  </robot>

  <params>
    <controllers>
      <__CONTROLLER__>
        <rng seed="123"/>
        <output
            output_parent="output"
            output_leaf="__current_date__"
            />
        <sensing_subsystemQ3D>
          <!-- -pi/2 : pi/2 -->
          <proximity_sensor fov="-1.57:1.57"
                            delta="0.04" />

          <env_sensor>
            <!-- NEST: The nest is detected when the robot light sensor readings
                 get large enough. -->
            <nest range="410:2000"
                  consensus="2"/>
            <!-- BLOCK: Blocks are detected within 1-7cm -->
            <block range="1:7"
                   consensus="2"/>
          </env_sensor>
          <sonar_sensor
              trigger_pin="17"
              echo_pin="27"/>
        </sensing_subsystemQ3D>
        <nest dims="1.0, 4.0" center="2, 3" />
        <strategy>
          <nest>
            <acq strategy="wander"
                 duration="10"/>
            <exit strategy="wander"/>
          </nest>
          <blocks>
            <drop
                strategy="backup_pivot"
                duration="40"/>
            <explore
                strategy="CRW"
                min_duration="20"/>
          </blocks>
        </strategy>
        <actuation_subsystem2D>
          <force_calculator>
            <avoidance_force max="0.08"/>
            <wander_force circle_distance="4.0"
                          circle_radius="100.0"
                          max="0.09"
                          interval="1">
              <!-- 5 degrees max delta. -->
              <bias_angle src="uniform"
                          max_delta="0.0872"/>
            </wander_force>
            <phototaxis_force max="0.16"/>
          </force_calculator>

          <!-- 25 degrees soft_turn_max. -->
          <diff_drive soft_turn_max="0.436"
                      max_linear_speed="0.08"
                      max_angular_speed="0.28"/>
        </actuation_subsystem2D>
      </__CONTROLLER__>
    </controllers>

    <loop_functions>
      <output output_parent="output"
              output_leaf="__current_date__">
        <metrics
            metrics_path="metrics">
          <sinks>
            <network>
              <stream
                  output_interval="100"
                  block_acq_counts="blocks/acq-counts"
                  spatial_interference_counts="spatial/interference/counts"
                  block_transporter="blocks/transporter"
                  block_transportee="blocks/transportee"
                  block_clusters="blocks/clusters"
                  spatial_movement='spatial/movement'
                  block_manipulation="blocks/manipulation"/>
            </network>
            <file>
              <append
                  output_interval="100"
                  block_acq_counts="blocks-acq-counts"
                  spatial_interference_counts="spatial-interference-counts"
                  block_transporter="blocks-transporter"
                  block_transportee="blocks-transportee"
                  block_clusters="blocks-clusters"
                  spatial_movement='spatial-movement'
                  block_manipulation="blocks-manipulation"/>
            </file>
          </sinks>
        </metrics>
      </output>
    </loop_functions>
  </params>
</ros-configuration>
